@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

$primary-color: #7158e2;

.container{
  display: flex;

  div{
    width:200px;
    height:200px;
    background-color: $primary-color;
    margin-left:10px;
    margin-right:10px;
  }
}